.profileCard :global(.Cell__in) {
    padding: 0;
}

.profileCard :global(.Card__in) {
    padding: 12px 16px;
}

.chartContainer {
    margin-bottom: 8px;
}

.chartName {
    margin-bottom: 8px;
    color: var(--text_secondary);
}

.avatarCell {
    margin-bottom: 8px;
}