.all {
    padding: 15px;
}

.reference {
    margin-right: 6px;
    margin-left: 6px;
}

.content {
    hyphens: auto;
    line-height: 1.5;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-top: 6px;
}

.par {
    display: grid;
    grid-template-columns: 1fr 5fr 42px;
    grid-auto-columns: minmax(90px, 500px);
    margin-bottom: 10px;
}

.parName{
    margin-left: 16px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.parProgress {
    margin-top: 7px;
    margin-right: 10px;
}

.parText{
    font-size: 75%;
}

.emoji{
    margin-top: -4px;
}

.settingIcon{
    margin-right: -14px;
    margin-top: -15px;
}

.title{
    margin-bottom: 6px;
}