.content {
    padding: 15px;
}

.reference {
    padding: 10px;
}

.description {
    margin-left: 20px;
}

.postText {
    line-height: 1.5;
    word-break: break-all;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.par {
    display: grid;
    grid-template-columns: 1fr 5fr 45px;
    grid-auto-columns: minmax(90px, 500px);
}

.parName{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.parProgress {
    margin-top: 7px;
    margin-right: 10px;
}

.parText{
    font-size: 75%;
}

.emoji{
    margin-top: -4px;
}

.settingIcon{
    margin-right: -14px;
    margin-top: -15px;
}
