.all {
    padding: 15px;
}

.reference {
    margin-right: 6px;
    margin-left: 6px;
}

.content {
    hyphens: auto;
    line-height: 1.5;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-top: 6px;
}

.par {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 15fr 1fr;
    grid-template-rows: 40px 40px 40px;
}

.parName {
    margin-right: 16px;
    display: flex;
    align-items: center;
    font-size: 80%;
}

.parProgress {
    background-color: white;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.emoji {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.settingIcon{
    display: flex;

}

.title{
    margin-bottom: 6px;
}




