.chartContainer {
    padding-top: 0;
}

.chartScroll {
    display: flex;
    overflow-x: auto;
}

.prevDateButton {
    border: unset;
    border-radius: 0;
    background: linear-gradient(90deg, #d2e7ff, transparent 50%);
    margin-right: 16px;
}

.nextDateButton {
    border: unset;
    border-radius: 0;
    background: linear-gradient(-90deg, #d2e7ff, transparent 50%);
    margin-left: 16px;
}