.chartContainer {
    padding-top: 0;
}

.chartScroll {
    overflow-x: auto;
}

:global(.recharts-cartesian-axis-tick-line) {
    display: none;
}

/* Subhead regular */
.tickDate {
    font-size: 14px;
    opacity: 0.5;
}

/* Subhead medium */
.tickMonth {
    font-weight: 500;
    font-size: 14px;
    opacity: 0.5;
}

.tooltipCard {
    padding: 12px;
}

.tooltipCard :global(.Card__in) {
    display: flex;
    align-items: center;
}

.tooltipCaption {
    opacity: 0.5;
}

.tooltipText {
    display: flex;
    flex-direction: column;
}

.tooltipCard img {
    width: 32px;
    height: 32px;
    margin-right: 6px;
}