:global(.Panel__in) {
    display: flex;
    flex-direction: column;
}

.contentContainer {
    display: flex;
    flex: auto;
    padding-top: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.petContainer {
    margin: auto 0;
}

.pet {
    height: 50%;
    max-height: 75vw;
}