:global(.Panel__in) {
    display: flex;
    flex-direction: column;
}

.loadingSpinner {
    margin-top: 20px;
}

.contentContainer {
    display: flex;
    flex: auto;
    padding-top: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.avatarCell {
    margin-bottom: 8px;
}