.checkInPanel {
    position: fixed;
}

.checkInPanel :global(.Panel__in) {
    position: fixed;
    height: 100%;
}

.bulletsContainer {
    display: flex;
    justify-content: center;
    background: var(--background_content);
    padding: 16px 16px;
}

.panelsGallery :global(.Gallery__slide) {
    display: flex;
    flex-direction: column;
}

.panelsGallery:global(.Gallery--ios) {
    height: calc(100% - 40px - var(--panelheader_height_ios));
}

.panelsGallery:global(.Gallery--android) {
    height: calc(100% - 40px - var(--panelheader_height_android));
}

.bullet {
    height: 8px;
    width: 8px;
    padding: 0 !important;
    margin: 0 4px;
    background: var(--text_tertiary);
    border-radius: 50%;
}

.bulletSelected {
    background: var(--text_primary);
}
