.bulletsContainer {
    display: flex;
    position: absolute;
    left: 50%;
    padding: 0 !important;
}

.bulletsContainer:global(.ios) {
    transform: translate(-50%, -50%);
}

.bulletsContainer:global(.android) {
    transform: translate(-50%);
}

:global(#mainCheckInPanel .Panel__in) {
    display: flex;
    padding-bottom: 0 !important;
}

.iosGallery {
    height: calc(100vh - var(--panelheader_height_ios));
}

.androidGallery {
    height: calc(100vh - var(--panelheader_height_android));
}

.bullet {
    height: 8px;
    width: 8px;
    padding: 0 !important;
    margin: 0 4px;
    opacity: 0.2;
    background: #000;
    border-radius: 50%;
}

.bulletSelected {
    opacity: 1;
}