.slidePanel {
    background-position: center;
    background-size: cover;
}

.slidePanel::after {
    background: unset;
}

.panelHeader :global(.FixedLayout) {
    background: unset;
}

.panelHeader :global(.PanelHeader__left) {
    color: white;
}

.slidePanel :global(.Panel__in) {
    position: relative;
    max-height: 100%;
    overflow-y: hidden;
    display: flex;
    padding-bottom: 0;
    background-color: unset;
}

.contentContainer {
    display: flex;
    flex: auto;
    flex-direction: column;
}

.textContainer {
    background: unset;
}

.textContainer :global(.Placeholder__in) {
    padding: 0;
}

.textContainer * {
    color: white;
}

.textContainer :global(.Title) {
    margin-bottom: 8px;
}

.textContainer a {
    color: white;
}

.slideProgress {
    border-radius: 6px;
    background: #00000080;
}

.slideProgress :global(.Progress__in) {
    height: 6px;
    border-radius: 6px;
    margin-top: 8px;
    background: white;
}