.cardGroup {
    margin-bottom: 20px;
}

.cardGroup :global(.Header__content) {
    margin: 0 auto;
}

.avatarPreview {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 12px 0 24px;
}