.formLayout {
    overflow: auto;
    padding-bottom: 24px;
}

.formLayout :global(.FormLayout__row) {
    padding-bottom: 0;
}

.privacySwitch :global(.Cell__children) {
    display: flex;
    align-items: center;
}

.lockIcon {
    display: inline;
    margin-left: 6px;
    margin-top: 2px;
    color: var(--text_secondary);
}
