.banner {
    border-radius: 10px;
    padding: 0;
    margin-top: 8px;
    margin-bottom: 0;
}

.bannerBackground {
    background-color: var(--modal_card_background);
    background-position: right bottom;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

:global(.Banner__actions) > :global(.Button) {
    margin-top: 12px;
    margin-right: 16px;
    margin-bottom: 6px;
}