.content {
    padding: 15px;
}

.reference {
    padding: 10px;
}

.description {
    margin-left: 20px;
}

.postText {
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 16px;
}
