.all {
}

.reference {
    margin-right: 6px;
    margin-left: 6px;
}

.content {
    hyphens: auto;
    line-height: 1.5;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-top: 6px;
}

.settingIcon{
    display: flex;
}

.title{
    margin-bottom: 6px;
}

.emojiTegContainer {
    margin-right: 8px;
    margin-top: 8px;
    display: inline-flex;
    border: 1px solid rgb(144,148,153);
    width: auto;
    flex-direction: row;
    border-radius: 50px;
    height: 25px;
}

.emoji {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 2px;
    width: 20px;
    height: 20px;
}

.emojiTegText {
    font-size: 85%;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(144,148,153);
    margin-right: 5px;
}

.emojiTegsField{
    flex-wrap: wrap;
    margin-top: 10px;
    display: flex;
}

.parametrText {
    margin-right: 8px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.parametrProgres{
    display: grid;
    grid-template-rows: 1fr 5px 1fr;
}

.parametrEmoji {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: auto;
}


.parametresField {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: 1fr 9fr 31px;
    grid-template-rows: 40px 40px 40px;
}
